body{
    background-color: black;
}

#gallery{
    width: 80%;
    margin: auto;
    height: 300px;
    
}

#lft{
    width: 25%;
    height: 150px;
    float: left;
    background-color: white;
}

#mid{
    width: 50%;
    height: 180px;
    float: left;
    background-color: white;
}

#rht{
    width: 25%;
    height: 150px;
    float: left;
    background-color: white;
	clear: right;
}

#lftbtn{
	margin-top: 50px;
	margin-left: 0;
	margin-right: 100%; 
	margin-bottom: 50px;
	height: 50px;
	width: 25%;
	background-color: none;
}

#rhtbtn{
	margin-top: 50px;
	margin-left: 135px;
	margin-right: 0;
	margin-bottom: 50px;
	height: 50px;
	width: 25%;
	background-color: none;	
}

#resetPic{
	margin: auto;
	width: 100px;
	height: 30px;
	background-color: white;
	text-align: center;
}

.choose:hover{border-style:outset;}
.choose:active{border-style:inset;}

#resetPic:hover{border-style:outset;}
#resetPic:active{border-style:inset;}

#fileSelect{margin:auto;width:100px;}






